<app-toolbar-without-menu
  (goBack)="navigateToHome()">
</app-toolbar-without-menu>

<div class="page">
  <form #cookbookInputForm="ngForm" (ngSubmit)="addCookbook(cookbookInputForm.valid)" class="input-fields-container">

    <mat-form-field>
      <input name="brand" matInput placeholder="Name" [(ngModel)]="cookbook.name" #name="ngModel" maxlength="20" required/>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">
      Create
    </button>

  </form>
</div>
