<app-toolbar-recipe-detail *ngIf="!toolbarEditEnabled"
  (editRecipe)="editRecipe()"
  (deleteRecipe)="deleteRecipe()"
  (goBack)="goBack()">
</app-toolbar-recipe-detail>

<app-toolbar-check *ngIf="toolbarEditEnabled"
  (goBack)="confirmCancel()"
  (saveRecipe)="saveRecipe()">
</app-toolbar-check>

<app-recipe-input-fields
  #recipeInputFields [recipeId]="recipeId"
  [editDisabled]="true"
  (recipeSuccesfullySaved)="setToolbarEditDisabled()"
  (cancelEdit)="cancelEdit()">
</app-recipe-input-fields>
