<app-toolbar-without-menu
  (goBack)="navigateBack()">
</app-toolbar-without-menu>

<div class="page">
  <div class="search-box">
    <mat-form-field >
      <input matInput placeholder="Search chefs" [(ngModel)]="query">
      <span matSuffix>
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let chef of chefs | search:'name':query" (click)="navigateToChef(chef.id)">
      <mat-icon matListIcon>account_circle</mat-icon>
      <p>{{chef.name}}</p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
