<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{cookbookName}}</span>
    <span class="toolbar-spacer"></span>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="addCookbook()" mat-menu-item>
          <mat-icon>menu_book</mat-icon>
          <span>Add cookbook</span>
        </button>
        <button mat-menu-item>
          <mat-icon>offline_bolt</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

