<div class="page">
  <div *ngIf="loading">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <form #recipeInputForm="ngForm" (ngSubmit)="saveRecipe(recipeInputForm.valid)" *ngIf="!loading" class="input-fields-container">

    <mat-form-field class="input-disabled">
      <input class="input-disabled" name="brand" matInput placeholder="Name" [(ngModel)]="recipe.title" #name="ngModel"
             [disabled]="editDisabled" maxlength="30" required/>
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field appearance="fill" >
      <mat-label>Categories</mat-label>
      <mat-select [formControl]="categories" multiple >
        <mat-option [disabled]="editDisabled" *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="recipe?.image">
      <img class="preview-image" [src]="recipe.image">
      <mat-icon *ngIf="!editDisabled" (click)="removeImage()">delete</mat-icon>
    </div>

    <div *ngIf="!recipe?.image && !editDisabled" class="add-image-button">
      <button mat-stroked-button type="button" color="primary" (click)="imgFileInput.click()">Add picture</button>
      <input hidden type="file" #imgFileInput (change)="processImage($event.target.files[0])" name="image" />
    </div>

    <mat-form-field>
      <textarea name="description" matInput placeholder="Description" [(ngModel)]="recipe.description" #description="ngModel"
                [disabled]="editDisabled" maxlength="100"></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field>
      <input name="servingSize" matInput placeholder="Serving size" [(ngModel)]="recipe.servingSize" #servingSize="ngModel"
             [disabled]="editDisabled" pattern="^[0-9]{0,2}$" maxlength="2"/>
      <div *ngIf="servingSize.invalid && (servingSize.dirty || servingSize.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field class="input-disabled">
      <div (click)="goToLink()">
        <input type="url" class="input-disabled" name="url" matInput placeholder="Source (URL)" [(ngModel)]="recipe.url" #url="ngModel"
               [disabled]="editDisabled" maxlength="2000"/>
      </div>
      <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field>
      <input name="minutes" matInput placeholder="Estimated time in minutes"
             [(ngModel)]="recipe.estimatedTime === null ? '' : recipe.estimatedTime.minutes" #minutes="ngModel"
             [disabled]="editDisabled" pattern="^[0-9]{0,3}$" maxlength="3"/>
      <div *ngIf="minutes.invalid && (minutes.dirty || minutes.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field>
      <input name="calories" matInput placeholder="Number of calories" [(ngModel)]="recipe.calories" #calories="ngModel"
             [disabled]="editDisabled" pattern="^[0-9]{0,5}$" maxlength="5"/>
      <div *ngIf="calories.invalid && (calories.dirty || calories.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field>
      <textarea name="ingredients" matInput placeholder="Ingredients" [(ngModel)]="recipe.ingredientList" #ingredients="ngModel"
                [disabled]="editDisabled" maxlength="2000"></textarea>
      <div *ngIf="ingredients.invalid && (ingredients.dirty || ingredients.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <mat-form-field>
      <textarea name="directions" matInput placeholder="Directions" [(ngModel)]="recipe.directions" #directions="ngModel"
                [disabled]="editDisabled" maxlength="2000"></textarea>
      <div *ngIf="directions.invalid && (directions.dirty || directions.touched)" class="alert alert-danger"></div>
    </mat-form-field>

    <button *ngIf="!editDisabled" mat-flat-button color="primary" type="submit">
      {{this.recipe.id === undefined ? 'Create' : 'Update'}}
    </button>

  </form>

</div>
