<app-toolbar-without-menu
  (goBack)="goBack()"
  [title]="chefName">
</app-toolbar-without-menu>


<div class="page">
  <div *ngIf="loading">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!loading">
    <div class="cookbook-title">
     <b>Your cookbooks</b>
    </div>
    <mat-list class="cookbook-list">
      <mat-list-item *ngFor="let cookbook of chef.cookbooks" (click)="goToCookbook(cookbook.id)">
        <mat-icon color="accent">fiber_manual_record</mat-icon><button mat-button>{{cookbook.name}}</button>
      </mat-list-item>
    </mat-list>

    <h4>Email notifications</h4>
    <div>
      <mat-slide-toggle labelPosition="after" class="slider" (change)="toggleReceiveEmails()" [checked]="chef.emailNotifications">
        <span class="slider-text">{{chef.emailNotifications ? 'On' : 'Off'}}</span>
      </mat-slide-toggle>
    </div>
  </div>

</div>




