<app-toolbar [cookbooks]="chef?.cookbooks"></app-toolbar>
<div class="page">
  <div *ngIf="loading">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let recipe of recipes">
      <img matListAvatar [src]="recipe.image" alt="">
      <h3 matLine (click)="toRecipeDetail(recipe.id)"> {{recipe.title}} </h3>
      <p matLine>
        <span> {{recipe.description}} </span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <button mat-fab color="primary" class="floating-button-add" (click)="addRecipe()">
    <mat-icon>add</mat-icon>
  </button>
</div>

