<app-toolbar-cookbook *ngIf="ownCookbook()"
             [cookbook]="cookbook"
             [chef]="chef"
             (toCookbook)="goToCookbook($event)"
             (logout)="logout()">
</app-toolbar-cookbook>

<app-toolbar-cookbook-other-chef *ngIf="!ownCookbook()"
                      [cookbook]="cookbook"
                      [chef]="chef"
                      (joinCookbook)="requestToJoinCookbook()">
</app-toolbar-cookbook-other-chef>

<div class="page">
  <div *ngIf="loading">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!loading">
    <h4 class="text-center" *ngIf="chef.cookbooks.length !== 0 && recipes.length === 0" >
      No recipes found
    </h4>

    <span class="text-center" *ngIf="chef.cookbooks.length === 0 && ownCookbook()" >
    You don't have any cookbooks yet. Start by creating one or joining an existing cookbook.
  </span>

    <app-all-recipes *ngIf="recipes.length !== 0"
      [recipes]="recipes"
      [cookbook]="cookbook">
    </app-all-recipes>
    <button *ngIf="ownCookbook()" mat-fab color="primary" class="floating-button-add"
            (click)="chef.cookbooks.length === 0 ? addCookbook() : addRecipe()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>

