<app-toolbar [cookbook]="cookbook"
             [chef]="chef"
             (joinCookbook)="addCookbookToChef()">
</app-toolbar>
<div class="page">
  <div *ngIf="loading">
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <h4 class="text-center" *ngIf="recipes.length === 0">
    No recipes found
  </h4>

  <mat-list>
    <mat-list-item *ngFor="let recipe of recipes">
      <img *ngIf="recipe.image" matListAvatar [src]="recipe.image">
      <img *ngIf="!recipe.image" matListAvatar src="assets/img/no-image.png" alt="...">
      <h3 matLine (click)="toRecipeDetail(recipe.id)"> {{recipe.title}} </h3>
      <p matLine>
        <span> {{recipe.description}} </span>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <button *ngIf="ownCookbook()" mat-fab color="primary" class="floating-button-add" (click)="addRecipe()">
    <mat-icon>add</mat-icon>
  </button>
</div>

